
.App > div {

}
.inputs {
  padding: 20px;
  display: inline-flex;
}
.commit {
  margin: 2px;
  width: 20px;
  height: 20px;
  background-color: rgb(224, 224, 224);
  font-size: smaller;
}

.commit:hover {
  background-color: #237036;
  transition: 0.15s ease-in-out;
}

.cols {
  display: inline-block;
  vertical-align: top;
}