.App {
  height: 100%;
  /* overflow: hidden; */
  /* min-width:320px; */

  /* text-align: center; */
}
.inputs {
    /* display:inline-block; */
    max-width: 400px;
}

input, label{
  /* padding-left:10px !important; */
  /* color: rgba(255, 255, 255, 0.822) !important; */
}

.taskbar {
  width:100%;
  background-image: url('images/xptaskbar.gif');
  background-repeat: repeat-x;
  height:30px;
  position: fixed;
  bottom: 0%;
}

.start {
  background-color: #1F72DE ;
  background-image: url(images/startbottom.gif);
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  position:fixed;
  left:0;
  cursor: default;
}


input {
  max-width: 400px;
  margin:auto;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: white; */
  /* opacity: 1; Firefox */
}

#standard-textarea {

}

.inputs {
  width:50%;
  margin:auto;

}

.commits-board {
  width:100%;
  display:inline-block;
  padding: 10px;
  /* margin:10px; */
  /* background: rgb(84, 86, 87); */
/* border-radius: 0px 5px; */
}
.commit {
  margin: 1px;
  width: 15px;
  height: 15px;
  font-size: x-small;
  border: 1px solid rgba(104, 104, 104, 0.589);
  border-radius: 3px;
  color: rgba(34, 35, 36, 0.616);
  user-select: none;
}

.cols {
  display: inline-block;
  vertical-align: top;
}

.errorMsg {
  color: rgb(216, 88, 29);
  animation: fadeout 2s infinite;
}

@keyframes fadeout {
  0%   {opacity:1;}
  50%  {opacity:0.5;}
  100% {opacity:1;}
}

.inputs input {

}

.generate-btn:hover {
  color: rgba(8, 8, 8, 0.8);
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3)
}

.generate-btn {
  animation: fadeout 2s infinite;
  color: rgb(37, 37, 37);
  background-color: rgba(52, 163, 207, 0.993);
  margin-bottom: 10px;

}

footer {
  /* color: rgba(221, 216, 216, 0.7); */
  /* background: rgb(46, 45, 45) !important; */
}

nav ul li, a{
  display: inline-block;
  margin: 0 10px;
  color: rgb(39, 37, 37);
  padding: 10px;
  text-decoration: none;

}

nav ul li:hover {
  transition: 0.15s ease-in-out;
  background-color: rgba(124, 158, 124, 0.247);
}