.App {

  /* text-align: center; */
}

input {
  color: rgba(255, 255, 255, 0.822) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#standard-textarea {
  text-align: center;
  width: 150px;
}

.inputs {
  /* Gradient */


  padding: 20px;
  display: block;
}

.commits-board {
  padding: 10px;
  margin:10px;
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgb(224, 230, 231) 0%, rgba(67, 136, 136, 0.423) 98%, rgba(95, 228, 255, 0.377) 100%);
border-radius: 5px;
}
.commit {
  margin: 1px;
  width: 15px;
  height: 15px;
  background-color: #EBEDF0;
  font-size: x-small;
  border-radius: 3px;
  color: rgb(46, 45, 45);
  user-select: none;
}

/* .commit:hover { */
  /* border: 2px solid rgb(14, 104, 84); */
  /* color: rgb(32, 32, 32); */
/* } */

.cols {
  display: inline-block;
  vertical-align: top;
}

.errorMsg {
  color: rgb(224, 230, 231);
  animation: fadeout 2s infinite;
}

@keyframes fadeout {
  0%   {opacity:1;}
  50%  {opacity:0.5;}
  100% {opacity:1;}
}

.generate-btn, .inputs input {
    margin-bottom: 1rem;
    color: rgba(221, 216, 216, 0.7);
    background-color: rgba(49, 38, 38, 0.5);
    border-color: rgba(255, 255, 255, 0.863);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s

}

.generate-btn:hover {
  color: rgba(8, 8, 8, 0.8);
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3)
}

.generate-btn {
  animation: fadeout 2s infinite;

}