.App {

  /* text-align: center; */
}

input, label{
  padding-left:10px !important;
  /* color: rgba(255, 255, 255, 0.822) !important; */
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#standard-textarea {
  text-align: center;
  width: 200px;
}

.inputs {
  /* Gradient */

  background: rgb(46, 45, 45) !important;
  padding: 5px;
  display: block;
  margin: auto;
}

.commits-board {
  display:inline-block;
  padding: 10px;
  /* margin:10px; */
  /* background: rgb(84, 86, 87); */
/* border-radius: 0px 5px; */
}
.commit {
  margin: 1px;
  width: 15px;
  height: 15px;
  font-size: x-small;
  border: 1px solid rgba(104, 104, 104, 0.589);
  border-radius: 3px;
  color: rgba(34, 35, 36, 0.616);
  user-select: none;
}

/* .commit:hover { */
  /* border: 2px solid rgb(14, 104, 84); */
  /* color: rgb(32, 32, 32); */
/* } */

.cols {
  display: inline-block;
  vertical-align: top;
}

.errorMsg {
  color: rgb(216, 88, 29);
  animation: fadeout 2s infinite;
}

@keyframes fadeout {
  0%   {opacity:1;}
  50%  {opacity:0.5;}
  100% {opacity:1;}
}

.inputs input {
    margin-bottom: 1rem;
    /* color: rgba(221, 216, 216, 0.7); */
    border-color: rgba(255, 255, 255, 0.863);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s

}

.generate-btn:hover {
  color: rgba(8, 8, 8, 0.8);
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3)
}

.generate-btn {
  animation: fadeout 2s infinite;
  color: rgb(37, 37, 37);
  background-color: rgba(52, 163, 207, 0.993);
  margin-bottom: 10px;

}

footer {
  color: rgba(221, 216, 216, 0.7);
  background: rgb(46, 45, 45) !important;
}

nav ul li, a{
  display: inline-block;
  margin: 0 10px;
  color: rgb(39, 37, 37);
  padding: 10px;
  text-decoration: none;

}

nav ul li:hover {
  transition: 0.15s ease-in-out;
  background-color: rgba(124, 158, 124, 0.247);
}